extends layout
block content
	.container
		.right.dash
			h1 Timesheets
			<br />
			a(href='/newtimesheet').btn.btn-success + New Timesheet
			
			table(border="1", cellpadding='2')
				thead
					tr: th Name
						th Work Description
						th Start Time
						th End Time
						th Status
						th Associated Task
						th Assoicated User
				tbody
					if timesheetlist && timesheetlist.length > 0
						each timesheet, i in timesheetlist
							tr
								td
									a(href="/viewtimesheet?_id=#{timesheet._id}") #{timesheet.Name}
								td #{timesheet["Work Description"]}
								td #{timesheet["Start Time"]}
								td #{timesheet["End Time"]}
								td #{timesheet.Status.Name}
								td
									a(href="/viewtask?_id=#{timesheet.Task}") #{timesheet.Task}
								td
									a(href="/viewuser?_id=#{timesheet.User}") #{timesheet.user}